/* src/renderer/styles/global.css */

@import './variables.css';
@import './reset.css';

html {
  font-size: var(--font-size-base);
}

body {
  font-family: var(--font-family-primary);
  font-size: var(--font-size-base);
  color: var(--color-text-primary);
  background-color: var(--color-bg-primary);
}

#root {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}